:root {
	--txt-color-light: #f0f0f0;
	--txt-color-dark: #414141;
	--txt-color-hover: #ffffff;

	--bg-color-btn: hsl(40, 100%, 45%);
	--bg-color-btn-hover: hsl(40, 100%, 35%);
	--bg-color-container: hsl(40, 100%, 90%);
	--border-color-btn: hsl(40, 100%, 25%);

	--game-width: 0px;
	--game-height: calc(var(--game-width) * 9 / 16);
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

button {
	all: unset;
}

html {
	user-select: none;
}

body {
	font-family: "Spicy Rice";
}

.txt-normal {
	color: var(--txt-color-dark);
	font-size: calc(var(--game-width) * 0.03);
	font-weight: 400;
	letter-spacing: calc(var(--game-width) * 0.002);
}

button {
	cursor: pointer;
}

.row {
	display: flex;
	flex-direction: row;
}

.column {
	display: flex;
	flex-direction: column;
}

.gap-20 {
	gap: calc(var(--game-width) * 0.02);
}

.border {
	border: calc(var(--game-width) * 0.003) solid var(--border-color-btn);
}

@media (hover: hover) {
	.mobile {
		display: none;
	}
}

@media (hover: none) {
	.desktop {
		display: none;
	}
}
