:root {
	--txt-color-light: #f0f0f0;
	--txt-color-dark: #414141;
	--txt-color-hover: #ffffff;

	--bg-color-btn: hsl(40, 100%, 45%);
	--bg-color-btn-hover: hsl(40, 100%, 35%);
	--bg-color-btn-light: hsl(40, 100%, 70%);
	--bg-color-container: hsl(40, 100%, 90%);
	--border-color-btn: hsl(40, 100%, 25%);

	--game-width: 0px;
	--game-height: calc(var(--game-width) * 9 / 16);

	--cursor-normal: url(app/assets/img/gui/cursor_normal.png), auto;
	--cursor-pointer: url(app/assets/img/gui/cursor_pointer.png) 6 6, auto;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}
::-webkit-scrollbar {
	--size: calc(var(--game-width) * 0.02);
	width: var(--size);
}

::-webkit-scrollbar-thumb {
	--size: calc(var(--game-width) * 0.006);
	background-color: var(--bg-color-btn);
	border: var(--size) solid transparent;
	border-radius: 999px;
	background-clip: content-box;
}

::-webkit-scrollbar-button:single-button {
	display: none;
	background-size: 10px;
	background-repeat: no-repeat;
}

::-webkit-scrollbar-button:single-button:vertical:decrement,
::-webkit-scrollbar-button:single-button:vertical:increment {
	display: none;
}

button {
	all: unset;
}

html {
	user-select: none;
}

body {
	font-family: "Spicy Rice";
	user-select: none;
	-webkit-user-select: none;
	-webkit-touch-callout: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

.txt-normal {
	color: var(--txt-color-dark);
	font-size: calc(var(--game-width) * 0.03);
	font-weight: 400;
	letter-spacing: calc(var(--game-width) * 0.002);
}

button {
	cursor: var(--cursor-pointer);
}

.row {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.column {
	display: flex;
	flex-direction: column;
}

.gap-20 {
	gap: calc(var(--game-width) * 0.02);
}

.border {
	border: calc(var(--game-width) * 0.003) solid var(--border-color-btn);
}

.d-none {
	display: none !important;
}

.d-none-animated {
	animation: d-none 1s forwards;
}

@keyframes d-none {
	0% {
		opacity: 1;
	}
	99% {
		opacity: 0;
	}
	100% {
		opacity: 0;
		display: none;
		z-index: -1;
	}
}

@media (hover: hover) {
	.mobile {
		display: none !important;
	}
}

@media (hover: none) {
	.desktop {
		display: none !important;
	}
}

@media (hover: none) {
	.keyboard,
	#keybinds {
		display: none !important;
	}
}
