body {
	margin: 0;
}

* {
	outline: 1px solid black;
}

#game {
	height: 100vh;
	width: 100vw;
	display: grid;
	grid-template-areas: "a";
	place-items: center;
}

#game > * {
	grid-area: a;
}

#gui {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}

#gui header {
	background-color: bisque;
	height: 5vh;
}

#gui-content {
	flex-grow: 1;
}
